@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body,
#app {
  height: 100% !important;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
